.content{
	box-shadow: -27px -1px 28px -13px;
}
/*форма генерации*/
form[name='main'] {
	background-color: #f33;
	width: 100%;
	padding: 10px;
	box-sizing: border-box
}
textarea[name="input"]{
	color: #000080;
	font-weight: bold;
	width: 100%;
	height: 120px;
	padding: 5px 10px;
	background-color: white;
	box-sizing: border-box
}
input{
	padding: 5px;
	color: red;
}
input[name="generate"]{
	color: green;
}
/*список результатов*/
.content > ul{
	list-style: none;
	padding: 15px 5px;
	height: 500px;
	overflow: scroll;
}
.content > ul> li{
	box-shadow: -1px 11px 55px -9px  rgba(0,0,0,1);
	margin: 5px 0;
	background-color: moccasin;
	padding: 2px 5px;
	color: teal;
}
/*форма поиска*/
form[name="search"]{
	width: 100%;
	display: flex;
	justify-content: center;
	padding: 6px;
	border-bottom: 1px solid #f33;
}
input[name="filter"]{
	outline: none;
}