* {
	margin: 0;
	padding: 0;
}
html, body {
	height: 100%;
	background-color: #ccc;
}
/*структура*/
.wrapper{
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.main{
	margin-top: 10px;
	flex: 1 0 auto;
}
.container{
	width: 1024px;
}
.footer{
	flex: 0 0 auto;
}
.content{
	box-shadow: -27px -1px 28px -13px;
}
/*форма*/
form[name='main'] {
	background-color: #f33;
	width: 100%;
	padding: 10px;
}
textarea[name="input"]{
	color: #000080;
	font-weight: bold;
	width: 100%;
	height: 120px;
	padding: 5px 10px;
	background-color: white;
}
input{
	padding: 5px;
	color: red;
}
input[name="generate"]{
	color: green;
}
/*список результатов*/
ul{
	list-style: none;
	padding: 15px 5px;
	height: 500px;
	overflow: scroll;
}
li{
	box-shadow: -1px 11px 55px -9px  rgba(0,0,0,1);
	margin: 5px 0;
	background-color: moccasin;
	padding: 2px 5px;
	color: teal;
}